 body {
  margin: 0;
  font-family: 'Bree Serif', serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Bree Serif', serif;

}
.h4{
  text-align: left;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Bree Serif', serif;

}

code {
  font-family: 'Bree Serif', serif;


}

* {
    margin: 0;
    padding: 0;
}

html {
    background: url("./images/Surf.jpg") no-repeat center center fixed;
    background-size: cover;


}

main{
    min-height: calc(100vh - 190px);
    display: flex;
}


.form-wrapper {
    display: flex;
    width:100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

form#login {
  width: 450px;
  max-width: 50%;
  margin: auto;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

form#login .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
  }

  form#login h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
  }

  form#login .custom-control-label {
    font-weight: 400;
  }
  form#login input {
    margin: 0 0 0 10px;
    padding: 0.25rem;
  }

  form#login .forgot-password,
  form#login .forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
  }

  form#login .forgot-password a {
    color: #167bff;
  }

  form#login .form-group {
      display: flex;
  }

 form#login .form-group label {
     width: 120px;
 }

 form#login button[type=submit] {
    padding: 0.5rem;
    background-color: #297dc5;
    color: white;
    border-radius: 10px;
 }

 .login-container {
     width: 300px;
     margin: 0 auto;
     background-color: #3D5678;
     height: 180px;
     width: 350px;
     margin-top: 50px;
 }

 .login-container-padding {
     padding: 10px;
 }

.signin {
    color: white !important;
    padding : 10px;
    padding-left: 0;
    font-size: 1em;
}

.signin-button{
    display:inline-block;
     padding:0.35em 1.2em;
     border:0.1em solid #FFFFFF;
     margin:0 0.3em 0.3em 0;
     border-radius:0.12em;
     box-sizing: border-box;
     text-decoration:none;
    font-family: 'Bree Serif', serif;
     font-weight:300;
     color:#FFFFFF;
     text-align:center;
     transition: all 0.2s;
}

