
.card{
    width: 28rem;
    height: 28rem;
    padding: 1rem 1rem 1rem 1rem !important;
    margin: 5rem 1rem 5rem 5rem !important;
    text-align: center;
    background-color: rgba(192,192,192,0.55);
}

.card:hover{
    box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.overflow {
    overflow: hidden;
  }

  .container-fluid .row {
    padding-top: 6rem;
  }