#page-footer{
  background-color:#3D5679;
  position: relative;
  height: 120px;
  clear: both;
  padding: 5px;
  text-align: center;
  vertical-align: center;
}

.white-text {
  text-align: center;
  
}


/* span{
  color: #cae4db;

  bottom: 0px;
  left: 0px;
} */