#footer{
    background-color:rgb(27, 77, 121);
    position: relative;
    height: 100px;
    clear: both;
}

span{
    color: #cae4db;
    padding: 25px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}